.comment {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .avatar-container {
    margin-right: 15px;

    .avatar {
      height: 35px;
      width: 35px;
      font-size: 35px;
    }
  }

  .card {
    flex: 1;

    .card-content {
      padding-top: 16px;
    }

    .card-footer {
      display: flex;
      justify-content: flex-end;

      span {
        padding: 10px;
        font-size: 10px;
        font-weight: 300;
      }
    }
  }
}
