<mat-card class="card">
  <div class="card-image-container">
    @if (tour.thumbnailImageId) {
    <img
      mat-card-image
      src="{{ getImageUrl(tour.thumbnailImageId) }}"
      alt="Tour"
    />
    } @else {
    <div>No image</div>
    }
  </div>
  <mat-card-header>
    <mat-card-title>{{ tour.title }}</mat-card-title>
    <mat-card-subtitle>
      <b>{{ "$" + tour.price }}</b>
      {{ " per person" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p>{{ tour.destinationName + ", " + tour.destinationCountry }}</p>
    <div class="card-reviews">
      @if (tour.reviewsRatingAverage > 0) {
      <span>
        {{ tour.reviewsRatingAverage | number : "1.0-1" }}
        {{ " ⭐ " + "of " }}
      </span>
      }
      <span (click)="handleOpenReviewsDialog()">
        <b>{{
          tour.reviewsCount + " review" + (tour.reviewsCount !== 1 ? "s" : "")
        }}</b>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="handleExplore()">EXPLORE</button>
    <button
      *ngIf="tour.status === 'UPCOMING'"
      mat-button
      color="primary"
      (click)="handleOpenBookingDialog()"
    >
      BOOK
    </button>
  </mat-card-actions>
</mat-card>
